  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0 viewport-fit=cover">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/favicon.png" type="image/png">
  <title>{{ if .Page.Title }}{{ printf "%s | %s" .Page.Title .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
